<!DOCTYPE html>
<html>
  <head>
    <title>Musically</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header id="main_navigation">
    <nav>
		<%= link_to "Musically", root_path %>
		  <% if user_signed_in? %>
        <%= link_to 'link'%>

      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %></li>
        <%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
		</nav>
   
    <%= yield %>

    <footer id="main_footer">
		<p class="copyright">&copy;2018 John Espinosa</p>
		<nav>
			<a href="http://twitter.com/mackenziechild" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="http://dribbble.com/mackenziechild" target="_blank"><i class="fa fa-dribbble"></i></a>
			<a href="http://github.com/mackenziechild" target="_blank"><i class="fa fa-github"></i></a>
		</nav>
	</footer>
  </body>
</html>
